body {
	background-color: #cccecd;
}
a 	{
	text-decoration: none;
	color: #cccecd;
}
input {

}
#headerText {
	font-size: 2em;
	text-align: center;
	margin: 35px 0;
	color: #cccecd;
}
#header {
	position: relative;
	height: 100px;
}
#headerTitle {
	position: absolute;
	background-color: #ed7a44;
	height: 100px;
	width: 250px;
	margin: 0 75px 0 10%;
	padding: 0;
}
#nav {
	height: 50px;
	background-color: #ed7a44;
}
#buttonDiv{
	position: relative;
	display: inline-block;
	width: 250px;
	height: 50px;
	left: 10%;
}
.navButton {
	line-height: 50px;
	height: 50px;
	width: 125px;	
	text-align: center;
	display: inline-block;
}
.navLink {
	display: inline-block;
	width: 125px;
	height: 50px;
}
.navButton:hover {
	background-color: #dd6933;
}

#leftNavButton {
	position: absolute;
}
#centerNavButton {
	position: absolute;
	left: 125px;
	height: 50px;
}
#rightNavButton {
	position: absolute;
	left: 250px;
	height: 50px;
}
#homeContent {
	background-color: white;
	margin: 50px 10% 0 10%;
	width: 80%;
	height: 200px;
	overflow: auto;
}
#textContent {
	background-color: white;
	margin: 50px 10% 0 10%;
	width: 80%;
	height: 500px;
	overflow: auto;
}
#textContainer {
	width: 90%;
	margin: 10px 5% 10px 5%;
}
.bodyText {
	font-size: 30px;
	margin: 0 5px 0 30px;
	padding: 15px 0 0 0;
}
#surveyButton {
	margin: 27px 0 0 30px;
	padding: 15px 15px;
	background-color: #cccecd;
}
#submitButton {
	font-size: 16px;
	padding: 15px 40px;
	background-color: #cccecd;
}
.questionHeader {
	font-size: 35px;
	margin-bottom: 5px;
}
.questionText {
	font-size: 20px;
	margin-bottom: 5px;
}
.aboutText {
	font-size: 28px;
	margin-bottom: 5px;
}
.surveyHeader {
	font-size: 40px;
	margin-bottom: 15px;
	border-bottom: 1px solid #dbdbdb 
}